<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="connstring" connectionString="Data Source=DESKTOP-OSTDV7J;Initial Catalog=ImageTest;User ID=Admin;Password=123456"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
</configuration>